<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="copyright">
            جميع الحقوق محفوظة - مكتب إدارة اللجان 1442
        </div>
        <div class="prog-vision">
            <div class="footer_logos clearfix">
                <img src="images/Icon awesome-user-alt.svg" alt="">
                <img src="images/calendar.svg" alt="">
                <img src="images/chart-line.svg" alt="">
                <img src="images/chart-pie.svg" alt="">
                <img src="images/building.svg" alt="">
                <img src="images/book.svg" alt="">
                <img src="images/phone-square.svg" alt="">
                <img src="images/balance-scale.svg" alt="">
            </div>
        </div>
    </div>
</footer>